body {
    background-color: rgb(44, 43, 43);
}

.container {
    background-color: black;
    width: 50%;
    margin: auto;
    color:white;
}

#imag {
    width: 100%;
}

.text-img{
    display: flex;
}

.about,
.footer{
    margin:10%
}

.gridpics{
    display:grid;
    grid-template-columns:  auto auto ;
}

#text1,
#text2{
    font-size:10px ;
    margin-right: 15px;
}
#gridImage{
    width: 90px;
    border:3px solid white;
}

#about,
#footer{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2px;
    font-family: 'Times New Roman', Times, serif;
}

.footerImages{
    display: flex;
}

h4{
    font-size: 11px;
    margin-bottom: 9px;
    text-align: center;

}
#footerImage{
    width:90%;
}